

```markdown
# Generating Insights

In this notebook, we will use the data to generate insights for business decisions.

## Load and Process Data

```python
import pandas as pd

# Load data
customers = pd.read_csv('../data/Customers.csv')
purchase_history = pd.read_csv('../data/Purchase_History.csv')

# Merge data
merged_data = purchase_history.merge(customers, on='customer_id')
merged_data.head()

In [1]:
import pandas as pd

# Load data
customers = pd.read_csv('../data/Customers.csv')
purchase_history = pd.read_csv('../data/Purchase_History.csv')

# Merge data
merged_data = purchase_history.merge(customers, on='customer_id')
merged_data.head()

,purchase_id,customer_id,product_id,purchase_date,quantity,total_amount,name,email,phone_number,address,city,country,registration_date
0,10351,7107,1945,2024-03-24,9,650.61,Brittany Kennedy,christianhenderson@example.org,428-397-9067x08241,"1398 Cooper Rapid\nEast Kenneth, VI 89511",West Cynthiafort,Latvia,2020-07-20
1,7773,303,1646,2024-03-13,1,65.07,Cynthia Lin,hbernard@example.org,985-394-2054x204,"27152 Gilmore Shores Suite 370\nElliston, VT 8...",Waltersside,Aruba,2023-04-29
2,10697,6986,723,2024-05-02,8,387.60,Susan Smith,ulee@example.com,5948336951,"65796 Sierra Plains Suite 157\nAmandafurt, WA ...",West Rachelside,Canada,2023-10-25
3,11887,3924,402,2024-02-15,1,22.31,Mr. Mark Payne MD,pgillespie@example.com,001-456-698-0379,"15566 Smith Parkways\nNew Traci, MT 88326",West Kristinefurt,Cook Islands,2023-02-17
4,15123,8046,1436,2024-05-14,7,454.58,James Bonilla,duartebrandon@example.com,+1-599-295-2547x848,"4526 Brown Plaza Apt. 254\nPattersonbury, TX 7...",Wileyshire,Mauritania,2021-02-12

## Top Customers

In [2]:
# Aggregate total amount spent by each customer
top_customers = merged_data.groupby('customer_id')['total_amount'].sum().reset_index()
top_customers = top_customers.nlargest(10, 'total_amount')
print(top_customers)

      customer_id  total_amount
173           406       3486.63
3665         8455       3269.22
857          2057       3161.76
1127         2644       3159.36
3452         7978       3140.01
4181         9660       2989.48
250           558       2971.24
439          1049       2967.59
3580         8266       2927.27
829          1984       2919.90

## Popular Products

In [3]:
# Aggregate quantity sold for each product
popular_products = purchase_history.groupby('product_id')['quantity'].sum().reset_index()
popular_products = popular_products.nlargest(10, 'quantity')
print(popular_products)

     product_id  quantity
78          165       125
914        1837       121
889        1792       118
328         649       117
541        1085       116
224         465       115
346         680       113
612        1229       110
485         985       108
837        1692       108